.Our-services-span {
    width: 100%;
    margin-top: 20px;
    min-height: 50px;
    background-color: blue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: white;
    transition: transform 0.3s; 
}

.Our-services-span:hover {
    transform: translateY(-10px);
}

.Our-services-span p {
    padding: 5px;
}
