body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*
{
  text-align: justify; 
}
li
{
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.social-icon
{
  padding: 5px;
  border-radius: 50%;
  border: 2px solid rgb(254, 254, 254);
  color: rgb(253, 253, 253);
  margin-left: 8px;
}
#get-quota
{
  display: none;
}
@media screen and (max-width: 993px) {
  #get-quota {
    display: block;
  }
}

.Service-Highlights{
  padding: 10px;
  margin-top: 10px;
  background-color: pink;
  text-decoration: none;
  list-style: none;
}
.Our-Services{
  padding: 15px 12px;
  color: #fff;
  font-weight: 500;
  border-radius: 3px;
  background: linear-gradient(145deg, #3854a5 0%, #004197 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  margin-top: 20px;
}
#footer
{
  
  background-blend-mode: overlay;
  background-color: #031a39;
  background-size: cover;
  background-image: url(../public/Image/footer-bg.webp);
  border-bottom: 1px;
}
.footer-li
{
  color: white;
  list-style: none;
  font-size: 20px;
}
.footer-li span{
  
  left: 0px;
  top: 5px;
  color: #f15a24;
  font-size: 12px;
  margin-left: -16px;
  font-family: "FontAwesome";
  
}
.footer-a
{
  color: white;
  text-decoration: none;
  margin-left: 5px;
}
.service-link
{
  width: 100%;

}

.contact-from
{
  background-image: url(../public/Image/footer-bg.webp);
  background-color: #3854a5;
}
.contact-row-1
{
  background-image: linear-gradient(#e1f5fd,#ebf4fb);
}
.bg-1
{
  background-image: linear-gradient( #004196,#1d3451);
}
.bg
{
  background-image: linear-gradient(245deg, #004196,#1d3451, transparent);
}
#read-more {
  color: #85e690;
}
.services-p
{
  margin-bottom: 0;
    color: #fff;
    font-size: 15px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.nav-item
{
  color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 500;
}
.nav-item::after
{
  content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #f3a712;
    transition: width 0.3s;
}
.card-slider {
  display: flex;
  overflow: hidden;
  width: 300px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  border: 1px solid #ddd;
}

.card {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.card.active {
  transform: translateX(0%);
}
#card-slider
{
  height: 400px;
  padding: 20px;
}